<div class="col s10 m7">
  <h2 class="header">Blog Posts</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Read newest Blog posts and catch up on what we have been up to!</p>
      </div>
      <div class="card-action">
        <a><%= link_to "Click Here", articles_path %></a>
      </div>
    </div>
  </div>
</div>