<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
	<div class="mdl-layout__header-row site-logo-row">
		<span class="mdl-layout__title">
			<div class="site-logo">
				<h5>Rails Blog</h5>
			</div>
			<span class="site-description"><p>Test site about life....</p></span>
		</span>
	</div>
	<div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
		<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font deep-orange accent-4"><a class="mdl-navigation__link" ><%= link_to 'Home', root_path%></a><a class="mdl-navigation__link"><%= link_to 'About', about_path%></a><a class="mdl-navigation__link"><%= link_to "Articles Listing", articles_path %></a><a class="mdl-navigation__link" href="contact.html">Contact</a>
		</nav>
	</div>
</header>