<div class="mdl-layout__drawer mdl-layout--small-screen-only">
	<nav class="nav-wrapper">
		<a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="mdl-navigation__link"><%= link_to 'Home', root_path%></a></li>
        <li><a class="mdl-navigation__link"><%= link_to 'About', about_path%></a></li>
        <li><a class="mdl-navigation__link"><%= link_to 'About', about_path%></a></li>
      </ul>
	</nav>
</div>