<section class="section--center mdl-grid site-max-width homepage-portfolio">
	<a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio.html">View Portfolio</a>
</section>